header{
    text-align: center;
    background-color: rgb(219, 218, 218);
}

article{
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

#Dado{
    background-color: black;
    display: flex;
    justify-content: center;
}

img{
    border-radius: 2px;
    border-color: black;
    width: 100px;
    height: 100px;
    background-position: center;
}
body{
    background-image: url("./imagenes/poker.jpg");
    background-repeat: repeat;

}